<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>AltLayout{{ title }}</title>
    <script type="text/javascript">window.initialData={{{toJSON initialData}}}</script>
    <link rel="stylesheet" href="../../styles/global.css">
  </head>
  <body>
    {{> headerDefault }}
    {{{ body }}}
    {{> footerDefault }}
  </body>
</html>

