<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@300;400;600&family=Roboto&family=Roboto+Slab:wght@300;400&display=swap"
    />
    <script type="text/javascript">
      window.initialData={{{toJSON initialData}}}
    </script>
  </head>
  <body>
    {{> headerDefault}}
    {{{body}}}
    {{> footerDefault}}
  </body>
</html>
